@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');

@font-face {
  font-family: RobotoCondensed;
  src: url(assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(assets/economica-bold.ttf);
}



body {
  text-align: center;
  font-size: 20px;
  padding: 2.5%;
  font-family: 'RobotoCondensed';
  background-color: rgb(8, 2, 32);
  color: white;
 
}

input{
  opacity:1;
  color: white;
  background-color: rgb(7, 1, 31);
  border: 0;
  border-bottom: 1px solid white;
}

.search-btn{
  background-color: rgb(7, 1, 31);
  border: none;
}


h1, h2, h3, h4, h5 {
  font-family: 'EconomicaBold';
}

.artist-title{
  font-size: 3em;
}

.align-middle{
  
  align-items: center;
}

.artist-info{
  text-align: left;
  padding-top: 50px;
}

.artist-image{
  text-align: right;
}


@media only screen and (max-width: 600px) {
  .artist-info{
    text-align: center;
    padding-top: 10px;
  }
  .artist-image{
    text-align: center;
    margin-top: 20px;
  }
}






.track{
  width: 250px;
  height: 250px;
  position: relative;
  display: inline-block;
  margin: 20px;
  cursor:pointer;
 
}





.track-image{
  
    width: 250px;
    height: 250px;
    
}

@media only screen and (max-width: 600px) {
  .track{
    position: relative;
    display: flexbox;
    width: auto;
    height: auto;
    text-align: center;
  }
  
}
.track-text{
  position: absolute;
  width: 250px;
  bottom: 0;
  background-color: black;
  color: white;
  padding: 5px;
 
}

.track-icon{
  position: absolute;
  bottom: 100px;
  left: 100px;
  color: white;
  background-color: black;
width: 50px;
height: 50px;
border-radius: 50px;
padding: 10px;
opacity: 0.5;
}

.follower-text{
  color: gray;
}

.track-icon:hover{
opacity: 0.8;
}




/* Neon Logo ----------------------------*/

.logo {
  
  font-family: "Vibur";
  font-size: 80px;
  text-align: center;
  position: relative;
  margin: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   user-select: none;
}

.logo b{
  font-family: "Vibur";
  
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}



